<header class="site-header">
<div class="wrapper">
<nav class="site-nav">
        <span class="menu-bar" onclick="openNav()">
            <svg id="i-menu" viewBox="0 0 32 32" width="28" height="28" fill="none" stroke="#eee" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%"><path d="M4 8 L28 8 M4 16 L28 16 M4 24 L28 24" /></svg>
        </span>
</nav>

<div class="profile">
<!--<a href="{{site.baseurl}}/">
  <img class="author-image" alt="site-title" src="{{site.baseurl}}/images/{{site.author.image}}">
</a>-->
<a href="{{site.baseurl}}/">
  <h1 class="author-about">{{site.author.name}}</h1>
</a>
</div>
<div class="menu-category">
<div class="menu-item"><a class="{% if page.url == '/aktuelles/' %}active{% endif %} menu-link" href="{{site.baseurl}}/aktuelles/">Aktualles</a></div>
<div class="menu-item"><a class="{% if page.url == '/ueber_uns/' %}active{% endif %}  menu-link" href="{{site.baseurl}}/ueber_uns/">Über uns</a></div>
<div class="menu-item"><a class="{% if page.url == '/kontakt/' %}active{% endif %}  menu-link" href="{{site.baseurl}}/kontakt/">Kontakt</a></div>
</div>
</div>
</header>
